
body {
	background-color: #B8ABAB;
	color: #265C78;
}

.navbar {
	background-color: #96C1D6;
}

.form-inline {
	padding-top: 7px;
}

#outputDOM {
	margin-top: 35px;
}

.carCard {
	margin: 2% 4% 2% 4%;
	border: 2px solid black;
	background-color: #EBDFDF;
}

.carYear {
	font-size: 1.2em;
	font-weight: 900;
	margin-bottom: 0;
	padding-top: 10px;
}

.makeModel {
	margin-top: 0;
	font-weight: 900;
	font-size: 1.2em;
}

.carPrice {
	font-weight: 900;
	font-size: 1.2em;
	color: #33708F;
}

